.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  color: whitesmoke;
  .header-column {
    display: flex;
    align-items: center;
    .header-title {
      display: flex;
      align-items: center;
      margin: 5px 10px;
      .header-title_icon {
        font-size: 35px;
        margin: 0 10px 10px 10px;
      }
      .header-title_text {
        font-size: 45px;
      }
    }
    ul {
      display: flex;
      li {
        margin: 0 8px;
        font-size: 20px;
      }
    }
  }
}
