extends layouts/main

block content
    .password.form-container
        if error
            span.errorMsg.changePassword=error
        form(method="post")
            input(type="password", name="oldPassword", placeholder="기존 비밀번호")
            input(type="password", name="newPassword", placeholder="새 비밀번호")
            input(type="password", name="newPassword2", placeholder="새 비밀번호 확인")
            input(type="submit", value="비밀번호 변경")