extends layouts/main
include mixins/daysBlock

block content
    section.dayWorkOut-container
        each item in days
            +daysBlock({
                day: item.day,
                workOuts: item.workOuts
            })
