extends layouts/main
include mixins/daysBlock

block content
    section.home-container
        .clock-box#jsClockBox
            .clock#jsClock
                span#jsMin 00
                |:
                span#jsSec 00
        ul.sets-box
            li.set
                input(type="checkbox", name="set")
        if days
            +daysBlock({
                days
            })
