html,
body {
  height: 100%;
}

body {
  font-family: "Do Hyeon", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 760px;
  margin: 0 auto;
  padding: 40px 0;
}

.title {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}
