extends layouts/main
include mixins/daysBlock

block content
    section.dayWorkOut-container
        +daysBlock({
            days: days
        })
        
block script 
    script(src="/static/dayWorkOut.js")
