extends layouts/main
include mixins/profileImg

block content
    .form-container
        form.user-form(method="post" enctype="multipart/form-data")
            .contents-box
                .image-box
                    input#profile(type="file", name="profile" accept=".png, .jpg, .jepg")
                    label(for="profile")
                        +profileImg(user.avatarUrl)
                    span 프로필 이미지
                .input-box
                    input(type="name", name="name", placeholder="이름", value=user.name)
                    input(type="email", name="email", placeholder="이메일", disabled=true value=user.email)
                    input(type="password", name="oldPassword", placeholder="기존 비밀번호")
                    input(type="password", name="newPassword", placeholder="새 비밀번호")
                    input(type="password", name="newPassword2", placeholder="새 비밀번호 확인")
            input(type="submit", value="회원정보 수정하기")


block script
    script(src="/static/preview.js")