extends layouts/main
include mixins/daysBlock

block content
    section.home-container
        .workOutBar
            .clock-box#jsClockBox
                .clock#jsClock
                    span#jsMin 00
                    |:
                    span#jsSec 00
                .clockBtn#jsClockStop
                    i.far.fa-stop-circle
            .sets-box#jsSetsBox
        if days
            .day-box
                +daysBlock({
                    days
                })
            span.day-btn.next
                i.fas.fa-caret-right
            span.day-btn.prev
                i.fas.fa-caret-left
