extends layouts/main
include mixins/daysBlock

block content
    section.home-container#jsHome
        .workOutBar
            .clock-box#jsClockBox
                .clock#jsClock
                    .time
                        span#jsMin 00
                        |:
                        span#jsSec 00
                    span.finish 🏆
                .clockBtn#jsClockStop
                    i.far.fa-stop-circle
            .sets-box#jsSetsBox
            span.finish-text Finished Today Work Out!
        if days
            .day-box
                +daysBlock({
                    days
                })
            span.day-btn.next
                i.fas.fa-caret-right
            span.day-btn.prev
                i.fas.fa-caret-left
