extends layouts/main

block content
    .form-container
        form(method="post")
            input(type="email", name="email", placeholder="이메일")
            input(type="password", name="password", placeholder="비밀번호")
            if messages.error
                .errorMsg=messages.error
            input(type="submit", value="로그인")