extends layouts/main
include mixins/profileImg

block content
    section.userDetail-container
        .image-box
            +profileImg(user.avatarUrl)
        .contents-box
            strong.userName=user.name
            h5.userEmail=user.email
            if user.id === loggedUser.id
                .userDetail-btns
                    a(href=`/users/${user.id}/edit-profile`) 회원정보 수정하기
        