extends layouts/main

block content
    section.userDetail-container
        strong.userName=user.name
        h5.userEmail=user.email
        if user.id === loggedUser.id
            .userDetail-btns
                a(href=`/users${routes.changePassword}`) 비밀번호 변경하기
        