include workOutBlock

mixin daysBlock(days = {})
    article.day-container
        ul.mon.day#jsDay
            i.fas.fa-minus#jsDayBtn
            h3 월요일
            each day in days.days
                if day.day === "mon"
                    each item in day.workOuts
                        +workOutBlock({
                            name: item.name,
                            weight: item.weight,
                            repsOrHold: item.repsOrHold,
                            count: item.count,
                            set: item.set,
                            breakTime: item.breakTime
                        })
        ul.tue.day#jsDay
            i.fas.fa-minus#jsDayBtn
            h3 화요일
            each day in days.days
                if day.day === "tue"
                    each item in day.workOuts
                        +workOutBlock({
                            name: item.name,
                            weight: item.weight,
                            repsOrHold: item.repsOrHold,
                            count: item.count,
                            set: item.set,
                            breakTime: item.breakTime
                        })
        ul.wed.day#jsDay
            i.fas.fa-minus#jsDayBtn
            h3 수요일
            each day in days.days
                if day.day === "wed"
                    each item in day.workOuts
                        +workOutBlock({
                            name: item.name,
                            weight: item.weight,
                            repsOrHold: item.repsOrHold,
                            count: item.count,
                            set: item.set,
                            breakTime: item.breakTime
                        })
        ul.thu.day#jsDay
            i.fas.fa-minus#jsDayBtn
            h3 목요일
            each day in days.days
                if day.day === "thu"
                    each item in day.workOuts
                        +workOutBlock({
                            name: item.name,
                            weight: item.weight,
                            repsOrHold: item.repsOrHold,
                            count: item.count,
                            set: item.set,
                            breakTime: item.breakTime
                        })
        ul.fri.day#jsDay
            i.fas.fa-minus#jsDayBtn
            h3 금요일
            each day in days.days
                if day.day === "fri"
                    each item in day.workOuts
                        +workOutBlock({
                            name: item.name,
                            weight: item.weight,
                            repsOrHold: item.repsOrHold,
                            count: item.count,
                            set: item.set,
                            breakTime: item.breakTime
                        })
        ul.sat.day#jsDay
            i.fas.fa-minus#jsDayBtn
            h3 토요일
            each day in days.days
                if day.day === "sat"
                    each item in day.workOuts
                        +workOutBlock({
                            name: item.name,
                            weight: item.weight,
                            repsOrHold: item.repsOrHold,
                            count: item.count,
                            set: item.set,
                            breakTime: item.breakTime
                        })
        ul.sun.day#jsDay
            i.fas.fa-minus#jsDayBtn
            h3 일요일
            each day in days.days
                if day.day === "sun"
                    each item in day.workOuts
                        +workOutBlock({
                            name: item.name,
                            weight: item.weight,
                            repsOrHold: item.repsOrHold,
                            count: item.count,
                            set: item.set,
                            breakTime: item.breakTime
                        })