.calendar-container {
  position: relative;
  margin-top: 1em;
  .view-month {
    width: 50vw;
    min-width: 500px;
    min-height: 750px;
    position: relative;
    overflow: hidden;
    .month {
      position: absolute;
      &.prev-month {
        left: -110%;
      }
      &.this-month {
        left: 0;
      }
      &.next-month {
        left: 110%;
      }
    }
    &.next {
      .month {
        transition: all 0.3s ease;
        transform: translateX(-110%);
      }
    }
    &.prev {
      .month {
        transition: all 0.3s ease;
        transform: translateX(110%);
      }
    }
  }
  .month {
    .month-text {
      font-size: 55px;
      text-align: center;
    }
    .week-list {
      width: 50vw;
      min-width: 500px;
      margin-top: 1em;
      border: 1px solid lightblue;
    }
    .date-list {
      height: 110px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      &:not(:last-child) {
        border-bottom: 1px solid lightblue;
      }
      li {
        padding: 5px;
        position: relative;
        &.today {
          color: white;
          background-color: lightblue;
          i {
            color: inherit;
          }
        }
        &:not(:last-child) {
          border-right: 1px solid lightblue;
        }
        i {
          color: #2ea44f;
          font-size: 35px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
  .move-btn {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    font-size: 55px;
    padding: 0 15px;
    cursor: pointer;
    &.next {
      right: -15%;
    }
    &.prev {
      left: -15%;
    }
  }
}
