.home-container {
  min-height: 600px;
  text-align: center;
  padding: 15px;
  position: relative;
  &.finished {
    .clock-box .clock {
      height: 130px;
      width: 130px;
      background-color: #c1ecff;
      .time {
        display: none;
      }
      .finish {
        display: block;
      }
    }
    .finish-text {
      display: block;
    }
    .sets-box {
      display: none;
    }
    .day.currentList.today {
      background-color: #fff1d778;
      li.finished {
        transform: none;
        background-color: #ffe5958f;
        span,
        button {
          text-decoration: none;
        }
      }
    }
  }
  .clock-box {
    font-size: 50px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: #ffe69b;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .clock {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background-color: rgb(40, 40, 40);
      color: wheat;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
      &.start {
        height: 140px;
        width: 140px;
      }
    }
    .clockBtn {
      display: none;
      position: absolute;
      top: 0;
      right: -25px;
      font-size: 30px;
      color: #dc0000;
      cursor: pointer;
      &.show {
        display: block;
      }
    }
  }
  .sets-box {
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      margin: 0 10px;
    }
  }
  .day-container {
    display: flex;
    justify-content: center;
    position: relative;
    &.next {
      transform: translateX(-900px);
      transition: transform 0.5s ease-in-out;
    }
    &.prev {
      transform: translateX(900px);
      transition: transform 0.5s ease-in-out;
    }
  }
  .day {
    display: none;
    &.currentList {
      display: block;
      border: none;
      &.today {
        background-color: #ecf9ff;
        padding: 10px 20px;
        border-radius: 10px;
        transition: background-color 0.5s ease-in-out;
        &.start {
          margin-top: 65px;
        }
      }
    }
    &.nextList {
      display: block;
      border: none;
      position: absolute;
      right: -820px;
    }
    &.prevList {
      display: block;
      border: none;
      position: absolute;
      left: -820px;
    }
    h3 {
      display: none;
    }
    li {
      cursor: pointer;
      font-size: 20px;
      width: 750px;
      margin-top: 0;
      border-radius: 8px;
      transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
      span {
        pointer-events: none;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &:hover {
        background-color: rgba(20, 20, 20, 0.9);
        color: #fff1d7;
        padding: 8px;
      }
      &.selected {
        transform: scale(1.2);
        background-color: rgba(0, 184, 255, 80%);
        color: #fff1d7;
        padding: 8px;
        position: absolute;
        top: -50px;
      }
      &.finished {
        transform: scale(0.9);
        background-color: rgba(40, 40, 40, 0.5);
        color: inherit;
        padding: 8px;
        span,
        button {
          text-decoration: line-through;
        }
      }
    }
    .dayBtns {
      display: none;
    }
  }
  input[type="checkbox"] {
    display: none;
    & + label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      width: 40px;
      height: 40px;
      line-height: 38px;
      text-align: center;
      background: #f5f5f5;
      border: 3px solid rgba(40, 40, 40, 0.8);
      border-radius: 50%;
      font-size: 25px;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      &:before {
        content: " ";
        display: inline-block;
        clear: both;
      }
    }
    &:checked + label {
      background: #c1ecff;
      border: 3px solid #0090ce;
      color: rgb(255, 241, 215);
      &:before {
        content: "🎯";
      }
    }
  }
  .day-box {
    overflow: hidden;
    position: relative;
    min-height: 580px;
    width: 900px;
  }
  .day-btn {
    position: absolute;
    bottom: 50%;
    font-size: 55px;
    padding: 0 15px;
    cursor: pointer;
    &.next {
      right: -15%;
    }
    &.prev {
      left: -15%;
    }
  }
  .finish {
    display: none;
    font-size: 80px;
  }
  .finish-text {
    display: none;
    font-size: 50px;
    margin: 15px 0;
  }
}
