.posts-container {
  margin-top: 3em;
  table {
    width: 80vw;
    border-bottom: 2px solid #0d283330;
    thead {
      border-bottom: 1px solid;
      line-height: 1.5;
    }
    tr {
      &:not(:first-child) {
        border-top: 1px solid #a5a5a54a;
      }
      & :first-child {
        width: 8%;
      }
      & :nth-child(2) {
        width: 55%;
      }
      & :nth-child(3) {
        width: 18%;
      }
      & :nth-child(4) {
        width: 12%;
      }
      & :last-child {
        width: 7%;
      }
      th {
        padding: 8px 0;
        a {
          width: 100% !important;
          display: block;
        }
      }
    }
  }
  .add-post-link {
    margin-top: 1em;
    text-align: right;
    a {
      padding: 5px;
      border-radius: 5px;
      color: rgba(20, 20, 20, 0.9);
      &:hover {
        background-color: rgba(20, 20, 20, 0.9);
        color: #fff1d7;
      }
      transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }
  }
}
