.day-container.edit {
  margin-top: 60px;
  margin-bottom: 60px;
  .workOut {
    height: 42px;
    display: flex;
    align-items: center;
    .workOutBtns {
      display: flex;
    }
    &:first-of-type {
      .upBtn {
        display: none;
      }
      .downBtn {
        margin-left: 42px;
      }
    }
    &:last-of-type {
      .downBtn {
        display: none;
      }
      .upBtn {
        margin-right: 42px;
      }
    }
    &.edit {
      .workOutBtns {
        display: none;
      }
    }
  }
}

.saveBox {
  position: relative;
  margin-top: auto;
  margin-bottom: 10px;
  .saveBtn {
    all: unset;
    padding: 5px 10px;
    font-size: 25px;
    border: 2px solid #85b5d4;
    border-radius: 10px;
    background-color: #eef8ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: white;
      border-color: white;
      background-color: #0096ff;
    }
  }
  .saveSuccessMsg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00bfff;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 35px;
    transition: all 0.2s linear;
  }
}
